.container .page-b {
  width  : 100%;
  height : 100%;
  background-image: url("http://img.mukewang.com/565d09fa000145a614410901.png");
  position: absolute;
  z-index: 40;
}

.walk-stop{
  animation-play-state:paused;
}

.walk-run{
  animation-play-state:running;
}

.christmas-boy{
  width: 3.5rem;
  height: 4.06rem;
  position: absolute;
  right: -3.5rem;
  top:4rem;
  background: url(http://img.mukewang.com/565d09870001372152510407.png);
  background-size:1500% 100%;
  background-position: 0% 100%;
}

/*走路动作*/
.boy-walk{
  animation: boyWalk 0.75s steps(4, end) infinite;
}
@keyframes boyWalk {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -400% 100%;
  }
}

/*脱衣动作*/
.boy-strip-1{
  background-position: -800% 100%;
}
.boy-strip-2{
  background-position: -900% 100%;
}
.boy-strip-3{
  background-position: -1000% 100%;
}

/*站立动作*/
.boy-stand{
  background-position: -400% 100%;
}

/*打开包裹*/
.boy-unwrapp{
  animation: unwrapp 2s steps(2, end) 1 forwards;
}
@keyframes unwrapp {
  0% {
    background-position: -400% 100%;
  }
  100% {
    background-position: -600% 100%;
  }
}

/*拥抱动作*/
.boy-hug{
  animation:boyHub 1s steps(3, end) 1 forwards;
}
@keyframes boyHug {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1300% 100%;
  }
}

.christmas-boy-head{
  width: 3.5rem;
  height: 4.06rem;
  position: absolute;
  left: 7.85rem;
  top: 4rem;
  background: url(http://img.mukewang.com/565d09870001372152510407.png);
  background-size: 1400% 100%;
  background-position: -1300% 100%;
  z-index: 12;
  display: none;
}

/*小女孩*/
.girl{
  width: 3.5rem;
  height:4.06rem;
  position: absolute;
  left: 1rem;
  top: 3.2rem;
  background: url(http://img.mukewang.com/565d09e50001156273510407.png);
  background-size:2100% 100%;
}

/*起身*/
.girl-standUp{
  left: 1.2rem;
  animation:standUp 200ms steps(3, start) forwards;
}
@keyframes standUp {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -300% 100%;
    top: 4rem;
  }
}

/*抛书*/
.girl-throwBook{
  top: 4rem;
  left:0.5rem;
  animation:throwBook 300ms steps(2, start) forwards;
}
@keyframes throwBook {
  0% {
    background-position: -300% 100%;
  }
  0% {
    background-position: -500% 100%;
  }
}

/*走路*/
.girl-walk{
  left: 1rem;
  animation:girlWalk 900ms steps(4,start) infinite;
}
@keyframes girlWalk {
  0% {
    background-position: -500% 100%;
  }
  0% {
    background-position: -900% 100%;
  }
}

/*站立*/
.girl-stannd{
  top:4rem;
  background-position: -1000% 100%;
}

/*3D选择*/
.girl-choose{
  animation:girlChoose 2000ms steps(2,end) forwards;
}
@keyframes girlChoose {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1200% 100%;
  }
}

/*泪奔*/
.girl-weep{
  animation:girlWeep 450ms steps(4,end) forwards infinite;
}
@keyframes girlWeep {
  0% {
    background-position: -1300% 100%;
  }
  100% {
    background-position: -1700% 100%;
  }
}

/*拥抱*/
.girl-hug{
  animation: girlHug 450ms steps(3, end) forwards;
}
@keyframes girlHug {
  0% {
    background-position: -1700% 100%;
  }
  100% {
    background-position: -2000% 100%;
  }
}